.color-content{
    background-color: #f0f4fa;
  }
  .radius{
      border-radius: 10px;
  }
  #progressbar{
    -webkit-appearance: none;
    appearance: none;
      height: 20px;
      width: 100%;
      border-radius: 5px;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
  
        /* -webkit-animation: animate-stripes 5s linear infinite;
        animation: animate-stripes 5s linear infinite;*/
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }
  @-webkit-keyframes animate-stripes {
    100% { background-position: -100px 0px; }
 }
 
 @keyframes animate-stripes {
    100% { background-position: -100px 0px; }
 }