<ion-menu [content]="content" side="right">
    <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Configuración</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="color-content">
        <ion-list>
          <button ion-item *ngFor="let p of pages" (click)="limitconfiguration(p)">
            {{p.title}}
          </button>
        </ion-list>
      </ion-content>
</ion-menu>
<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Control Center</ion-title>
      <button ion-button menuToggle end>
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-toolbar>
</ion-header>

<ion-content class="color-content">
  <div>
    <ion-list>
      <ion-item>
        <ion-label>Ver</ion-label>
        <ion-select [(ngModel)]="notifications" interface="action-sheet" >
          <ion-option value={{option}} *ngFor="let option of itemFilter" (ionSelect)="filtrar(false)">{{option}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <span>{{notifications}}:</span><p></p><p></p>
  <sim-card *ngFor="let cardData of card" [card-data]="cardData" (click)="showInfo(cardData)"></sim-card>
</ion-content>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>