<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Control Center</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div>
    <ion-list>
      <ion-item>
        <ion-label>Ver</ion-label>
        <ion-select [(ngModel)]="notifications" interface="action-sheet" >
          <ion-option value={{option}} *ngFor="let option of itemFilter" (ionSelect)="filtrar(false)">{{option}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <span>{{notifications}}:</span><p></p><p></p>
  <sim-card *ngFor="let cardData of card" [card-data]="cardData" (click)="showInfo(cardData)"></sim-card>
</ion-content>
